:root {
    --page-background-color: #FFC000;
    --main-background-color: #ffb048;
    --main-text-color: #301934;
    --button-background-color: #fdd57e;
    --button-border-color: #4e4eff;
    --button-text-color: #301934;
    --disabled-button-text-color: #666666;
    --game-button-text-color: #000000;
    --game-button-hover-text-color: #585858;
}

body {
    font-family: sans-serif;
}

#page-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--page-background-color);
}

.main-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 10vw;
    padding-top: 2vh;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background: var(--main-background-color);
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

main h1 {
    font-size: calc(2vw + 3vh);
    font-weight: bolder;
    color: var(--main-text-color);
}

.register-text {
    display: block;
    min-height: calc(1vw + 1vh);
    font-size: calc(1vw + 1vh);
    font-weight: bold;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.player-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
}

.player-inputs label {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: calc(1vw + 1vh);
    font-weight: bolder;
    color: var(--main-text-color);
}

input[type="text"] {
    padding-left: 6px;
    background-color: var(--button-background-color);
    font-size: calc(1vw + 0.5vh);
    font-weight: bold;
    color: var(--main-text-color);
    border: 2px solid var(--button-border-color);
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.buttons button {
    width: 12vw;
    height: 7vh;
    font-size: calc(1vw + 0.5vh);
    font-weight: bolder;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: 2px solid var(--button-border-color);
    border-radius: 6px;
    cursor: pointer;
}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.reset-button {
    display: none;
}

.reset-button:disabled {
    color: var(--disabled-button-text-color);
}

.reset-button:hover:disabled {
    opacity: 1;
    cursor: unset;
}

.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.players-info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    font-size: calc(1vw + 1vh);
    color: var(--main-text-color);
}

.player1-display {
    display: flex;
    justify-content: right;
}

.winner-display {
    display: block;
    min-height: calc(1vw + 1vh);
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    color: var(--main-text-color);
}

.gameboard {
    width: 16vw;
    aspect-ratio: 1 / 1;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--button-border-color);
}

.gameboard button {
    font-size: calc(1vw + 2vh);
    font-weight: bold;
    color: var(--game-button-text-color);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    transition: all 0.5s ease;
}

.gameboard button[filled="false"]:hover {
    cursor: pointer;
    color: var(--game-button-hover-text-color);
}

.gameboard button[filled="true"]:hover {
    cursor: unset;
}